<div class="post_card_wrapper">
  <div class="not-found">
    <h2>Sorry, Boss...</h2>
    <h3>There aren't any posts that match your search.</h3>
    <p>Want to request a post or tutorial? Follow the Contact link at the top of the page to let me know!</p>
  </div>
</div>
