<%= render 'layouts/paralax' %>
<div class="posts">
  <% @posts.each do |post| %>
    <div class="post-exerpt">
      <h2><%= link_to post.title, path_to_post(post) %></h2>
    </div>
  <% end %>
</div>
