<%= render 'layouts/paralax' %>
<div class="posts">
  <% @posts.each do |post| %>
    <div class="post-exerpt">
      <h2><%= link_to post.title, post.slug %></h2>
      <%= markdown(post.body).truncate(500) %>
    </div>
  <% end %>
</div>
