<aside>
  <h2>Content Options</h2>
  <ul>
    <li class="expander">
       <%= link_to "Publishing Options", "#expand",
       :class => "expander-trigger expander-hidden" %>
      <div class="expander-content">
        <span class="bip-label">slug</span>
          <%= best_in_place @entry, :slug, :as => :input, :param => :entry,
          :place_holder => "the_page_slug", :url => entry_path,
          :class => "textarea-body", :inner_class => "textarea-body" %>
        </br></br>
        <%= publish_status(@entry) %>
      </div>
    </li>
  </ul>
</aside>
