<%= render 'booqmark/toolbar' %>

<div class="input-group">
  <span class="bip-label">title</span>
  <%= form.input :title, label: false, input_html: {class: 'mkdwn-title'} %>
</div>
<div class="input-group">
  <span class="bip-label">body</span>
  <%= form.input :payload, label: false, input_html: {class: 'textarea-body droppable'} %>
</div>
<%= form.button :submit, id: "submit-payload" %>
