<div class="modal">
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-2"></div>
      <h2>Image Library</h2>
      <ul class="accordion-tabs-minimal">
        <li class="tab-header-and-content">
          <a href="#" class="tab-link is-active">Your Images</a>
          <div class="tab-content">
            <%= render "/booqcms/media/index" %>
            <div class="pagination">
              <ul>
                <!-- <li class="page-prev"><a href="javascript:void(0)">Prev</a></li> -->
                <!-- <li>
                pagination
                  <ul>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li><a href="javascript:void(0)">5</a></li>
                    <li><a href="javascript:void(0)">6</a></li>
                    <li><a href="javascript:void(0)">7</a></li>
                  </ul>
                </li> -->
                <!-- <li class="page-next"><a href="javascript:void(0)">Next</a></li> -->
              </ul>
            </div>
            <input type="text" name="caption" placeholder="caption" />
            <input type="text" name="alt" placeholder="alt text (for SEO and screen readers)" />
            <input type="text" name="title" placeholder="title- will be used in a tooltip" />
            <input type="text-box" name="description" placeholder="describe the image (for SEO and screen readers)" />
            <input type="submit" value ="Embed Selected Video"/>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Upload a Video</a>
          <div class="tab-content">
            <div id="upoaded_image"> </div>
            <%= render "booqcms/media/new" %>
            <!-- <form>
              <input type="file" name="video" class="file" />
              <div class="upload-preview">
                <img />
              </div>
              <input type="submit" value="Upload"/>
            </form> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
