<div class="modal">
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-2"></div>
      <h2>Image Library</h2>
      <ul class="accordion-tabs-minimal">
        <li class="tab-header-and-content">
          <a href="#" class="tab-link is-active">Your Images</a>
          <div class="tab-content">
            <div class="image-gallery">
            </div>
            <input type="text" name="caption" placeholder="caption" />
            <input type="text" name="alt" placeholder="alt text (for SEO and screen readers)" />
            <input type="text" name="title" placeholder="title- will be used in a tooltip" />
            <input type="text-box" name="description" placeholder="describe the image (for SEO and screen readers)" />
            <input type="submit" value ="Embed Selected Video"/>
          </div>
        </li>
        <li class="tab-header-and-content">
          <%= link_to "Upload an Image", {controller: "media", action: "new"}, class: "tab-link", remote: true %>
          <div class="tab-content">
            <div class="uploaded-image"></div>
            <div class="upload-preview">
              <img />
              <div class="progress-bar">
                <span class="meter"></span>
              </div>
            </div>
            <div class="upload_form">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
