<div class="toolbar">
  <button class="md-button" id="bold-button">b</button>
  <button class="md-button" id="italic-button">i</button>
  <button class="md-button" id="blockquote-button">quote</button>
  <button class="md-button" id="h1-button">h1</button>
  <button class="md-button" id="h2-button">h2</button>
  <button class="md-button" id="h3-button">h3</button>
  <button class="md-button" id="image-button">img</button>
  <button class="md-button" id="link-button">link</button>
</div>
