<div class="mkd-toolbar">
  <button class="md-button" id="bold-button" title="cmd b"><strong>b</strong></button>
  <button class="md-button" id="italic-button" title="cmd i"><em>i</em></button>
  <button class="md-button" id="h1-button" title="">h1</button>
  <button class="md-button" id="h2-button" title="">h2</button>
  <button class="md-button" id="h3-button" title="">h3</button>
  <button class="md-button" id="image-button" title=""><%= inline_svg("booqcms/picture.svg", class: 'mkdwn-toolbar-svg') %></button>
  <button class="md-button" id="link-button" title="cmd L">🔗 </button>
  <button class="md-button" id="blockquote-button" title="">❝</button>
</div>
