<section>
  <%= render "new_sidebar" %>
  <article>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">MarkDown</a>
        <div class="tab-content">
          <%= simple_form_for(@entry, as: :entry, url: entries_path) do |f| %>
            <%= f.input :title, placeholder: "Title for Your Post",
             label: false, input_html: { class: 'title-input' } %></br>
            <%= f.submit "Save" %>
          <% end %>
        </div>
      </li>
    </ul>
  </article>
</section>
