@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text:400,400italic,700,700italic);
/* line 4, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 6, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 11, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
img.nav-logo {
  width: 43px;
}

/* line 16, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.featured-posts {
  width: 100%;
  margin-bottom: 20px;
  overflow: auto;
}

/* line 23, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-title {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  width: 100%;
  position: relative;
}
/* line 33, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-title h3 {
  font-size: 18px;
  color: #888;
}
/* line 36, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-title h3:before {
  content: '';
  width: 100px;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: 50%;
  top: 75px;
  margin-left: -50px;
}
/* line 47, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-title:hover {
  color: white;
  background: #242424;
}
/* line 51, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-title:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  border-top: 15px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  float: left;
  left: 50%;
  bottom: -14px;
  margin-left: -20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 66, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-title:hover:after {
  border-top: 15px solid #242424;
  border-top: 15px solid #242424;
}

/* line 72, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.show-post {
  max-width: 700px;
  width: 80%;
  margin: 40px auto;
}
/* line 76, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.show-post img {
  width: 100%;
}

/* line 81, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.teaser {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 87, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.login-form {
  width: 33%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
/* line 93, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.login-form h2 {
  text-transform: uppercase;
}
/* line 99, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="submit"] {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 2;
}
/* line 108, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.login-form input[type="submit"] {
  background: white;
  border: 1px solid #41A1F0;
  color: #41A1F0;
  margin-top: 20px;
}
/* line 114, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.login-form .recover-links {
  font-size: 0.75em;
}

/* line 119, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.content_nav {
  width: 100%;
  position: relative;
}
/* line 122, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.content_nav nav {
  width: 100%;
}
/* line 124, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.content_nav nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 129, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.content_nav nav ul li {
  float: left;
  width: 33.3%;
  background: #f6f6f6;
  color: #333;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  font-size: 26px;
  font-family: "Montserrat";
  text-align: center;
  padding: 20px;
}
/* line 140, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.content_nav nav ul li.active_tab {
  position: relative;
  background: #fff;
  z-index: 100;
  color: #333;
}

/* line 151, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-container {
  padding-top: 20px;
  min-height: 100px;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  position: relative;
}

/* line 159, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.sort_and_filter {
  width: 510px;
  margin: 20px auto;
  overflow: hidden;
}
/* line 163, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.sort_and_filter select {
  margin-right: 20px;
}

/* line 168, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post_card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  width: 70%;
  margin: 50px auto;
  overflow: hidden;
  height: 400px;
  border: 5px solid white;
  position: relative;
}
/* line 176, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post_card:hover {
  border: 5px solid #49B5FF;
  cursor: pointer;
}

/* line 182, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-image {
  height: 100%;
  width: 40%;
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 188, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-excerpt-image img {
  height: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 201, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.type-system-rounded .post-excerpt {
  width: 60%;
  height: 100%;
  float: left;
  position: relative;
}
/* line 206, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.type-system-rounded .post-excerpt p {
  width: 80%;
  margin: 10px auto;
  padding: 40px;
  border-top: 1px solid #ccc;
}
/* line 212, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.type-system-rounded .post-excerpt h2 {
  text-align: center;
  font-size: 30px;
  background: #fff;
  color: #333;
  padding: 20px;
  font-variant: small-caps;
  margin-bottom: 10px;
}

/* line 223, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 130px;
}
/* line 228, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid #333;
  border-radius: 0;
  background: #fff;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 241, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select select::-ms-expand {
  display: none;
}
/* line 244, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select select:hover, .select select:focus {
  color: #000;
}
/* line 248, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* line 254, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #49B5FF transparent transparent transparent;
}
/* line 264, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select select:hover ~ .select__arrow
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
/* line 269, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.select select:disabled ~ .select__arrow {
  border-top-color: #555;
}

/* line 274, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.input-group {
  float: left;
  margin: 10px 20px;
}

/* line 279, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
label {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
}

/* line 287, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.parallax-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* line 293, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post_count {
  width: 500px;
  text-align: center;
  margin: 10px auto;
  font-style: italic;
  text-transform: capitalize;
  font-variant: small-caps;
}

/* line 302, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.posts {
  padding-bottom: 40px;
}

/* line 306, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_custom.scss */
.post-tags {
  position: absolute;
  left: 50%;
  margin-left: -25%;
  bottom: 10px;
}

@font-face {
  font-family: 'charterbold_italic';
  src: url(/assets/charter_bold_italic-webfont-cead083df28b1d1f529d99d88d852c94b0ddb1cdaec474658e8b2807b711bb36.eot);
  src: url(/assets/charter_bold_italic-webfont-cead083df28b1d1f529d99d88d852c94b0ddb1cdaec474658e8b2807b711bb36.eot?#iefix) format("embedded-opentype"), url(/assets/charter_bold_italic-webfont-a4e0129841ea44f5d2b7a8854eeefabbd47f5257cadd145f51fda9c58415d1ea.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'charterbold';
  src: url(/assets/charter_bold-webfont-a8d5b61a2a7f41a58357e2d88b2a41622c3b99d5b9f3c8ae530ffa51f0fd061d.eot);
  src: url(/assets/charter_bold-webfont-a8d5b61a2a7f41a58357e2d88b2a41622c3b99d5b9f3c8ae530ffa51f0fd061d.eot?#iefix) format("embedded-opentype"), url(/assets/charter_bold-webfont-8640916aba1207e4fcff9c894252543689989434cd9fc0dabd4cee60b3e763a5.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'charteritalic';
  src: url(/assets/charter_italic-webfont-8530e5fd8587e872471b8605d8bcc8ed68172103e7c402ab15ca43eb485fc257.eot);
  src: url(/assets/charter_italic-webfont-8530e5fd8587e872471b8605d8bcc8ed68172103e7c402ab15ca43eb485fc257.eot?#iefix) format("embedded-opentype"), url(/assets/charter_italic-webfont-0fc8a6e495e7cd447608aea7e0cd59b0e79bd4e74822d428c53880ac0db6c469.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'charterregular';
  src: url(/assets/charter_regular-webfont-cd27934b2b5a38aeeabd2b289b3aa5faecf9d6fafe5e68ed4e36d9056e1a84fd.eot);
  src: url(/assets/charter_regular-webfont-cd27934b2b5a38aeeabd2b289b3aa5faecf9d6fafe5e68ed4e36d9056e1a84fd.eot?#iefix) format("embedded-opentype"), url(/assets/charter_regular-webfont-ece70e751af05572df7513e5e904bcd69f32e7616718fec9e945a2e2924b8a26.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 39, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded {
  font-family: "charterregular", serif;
  text-align: left;
  font-feature-settings: "liga";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.7/app/assets/stylesheets/addons/_clearfix.scss */
body.type-system-rounded::after {
  clear: both;
  content: "";
  display: table;
}
/* line 61, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded h1, body.type-system-rounded h2, body.type-system-rounded h3, body.type-system-rounded p {
  margin: 0;
}
/* line 65, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}
/* line 73, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded p {
  color: #333;
  line-height: 1.5em;
}
/* line 78, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded p strong {
  font-weight: 600;
}
/* line 82, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded a {
  color: #477DCA;
  text-decoration: none;
}
/* line 87, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded .type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "charterregular", serif;
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
}
/* line 99, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 40em) {
  /* line 99, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
  body.type-system-rounded h1 {
    font-size: 2.4em;
  }
}
/* line 109, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0.9em;
}
@media screen and (min-width: 40em) {
  /* line 109, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
  body.type-system-rounded h2 {
    font-size: 1.4em;
  }
}
/* line 121, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.7em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}
/* line 133, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
/* line 141, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "charterregular", serif;
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
/* line 148, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded p {
  font-family: "charterregular", serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.58;
  letter-spacing: -0.003em;
  margin-bottom: 1.5em;
}
/* line 156, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded p span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 163, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded a.read-more {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}
/* line 172, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded a.read-more span {
  font-size: 1.5em;
  position: absolute;
  right: -12px;
  top: -1px;
}
/* line 180, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded hr {
  width: 3em;
}
/* line 184, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
body.type-system-rounded p.author {
  font-family: "charterregular", serif;
}

/* line 191, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.7/app/assets/stylesheets/addons/_clearfix.scss */
section::after {
  clear: both;
  content: "";
  display: table;
}

/* line 195, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  padding: 2.35765%;
  border-left: 2px solid #222;
}
/* line 89, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
article:last-child {
  margin-right: 0;
}

/* line 201, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 2.35765%;
}
/* line 89, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
aside:last-child {
  margin-right: 0;
}
/* line 205, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
aside ul {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 5px;
}
/* line 210, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
aside ul li {
  margin: 5px 0;
  padding: 5px 0;
}
/* line 215, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_typography.scss */
aside h2 {
  padding-top: 10px;
}

/* line 1, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_video_embed.scss */
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 7, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/_video_embed.scss */
.video-wrapper embed,
.video-wrapper object,
.video-wrapper iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 3, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.hero-image {
  background: url("keyboard.jpg") no-repeat;
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%;
}

/* line 11, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.hero-benefit-box {
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -250px;
  padding: 20px;
  width: 500px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}
/* line 20, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.hero-benefit-box button {
  display: block;
  margin: 10px auto;
}

/* line 26, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
button {
  font-size: 20px;
  background: white;
  border: 1px solid #31B1FA;
  color: #31B1FA;
  border-radius: 0;
  box-shadow: 0;
  padding: 15px;
}

/* line 36, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.how-it-works {
  margin: 10px auto;
  color: #31B1FA;
  overflow: hidden;
  width: 1000px;
}
/* line 41, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.how-it-works .third {
  width: 30%;
  margin: 1.6%;
  float: left;
  position: relative;
  min-height: 120px;
}
/* line 47, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.how-it-works .third div {
  border-bottom: 1px solid;
  text-align: left;
}
/* line 51, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.how-it-works .third h3 {
  font-size: 30px;
  vertical-align: bottom;
  margin-top: 10px;
}
/* line 56, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.how-it-works .third p {
  font-size: 18px;
  color: #333;
}

/* line 63, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-pricing-content {
  display: flex;
  text-align: center;
}

/* line 68, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-pricing {
  margin-bottom: 100px;
}

/* line 72, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-pricing hgroup {
  width: 100%;
  text-align: center;
  font-size: 2.4em;
}

/* line 78, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-option {
  align-items: stretch;
  width: 33%;
  padding: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
/* line 85, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-option:nth-child(2) {
  border: 12px solid #31B1FA;
  margin-top: -10px;
  margin-bottom: 10px;
}
/* line 90, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-option ul {
  list-style: none;
  padding: 0;
}
/* line 93, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-option ul li {
  padding: 10px 0;
}
/* line 97, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.book-option h3 {
  color: #666;
  font-variant: small-caps;
  font-style: italic;
}

/* line 104, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.pricing-button {
  margin-top: auto;
  margin-bottom: 20px;
}
/* line 107, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.pricing-button button {
  background: #31B1FA;
  color: #fff;
}

/* line 113, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.dollar {
  font-size: 20px;
}

/* line 117, /Users/katherinelandreth/Desktop/Rails_Apps/dashboard/blog/app/assets/stylesheets/book.scss */
.price {
  font-size: 55px;
  font-weight: bold;
  line-height: 1;
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
  width: 200px;
  margin: 0 auto;
}

/* line 1, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer {
  background: #1a3545;
  padding: 3em 1.618em;
  width: 100%;
}
/* line 15, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer .footer-logo {
  margin-bottom: 2em;
  text-align: center;
}
/* line 19, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer .footer-logo img {
  height: 3em;
}
/* line 24, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer .footer-links {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
/* line 31, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer ul {
  -webkit-flex-basis: 13em;
  -moz-flex-basis: 13em;
  flex-basis: 13em;
  -ms-flex-preferred-size: 13em;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  margin-bottom: 3em;
  padding: 0;
}
/* line 38, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer li {
  line-height: 1.5em;
  list-style: none;
  text-align: center;
}
/* line 44, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer li a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
/* line 48, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer li a:focus, .footer li a:hover {
  color: white;
}
/* line 54, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer li h3 {
  color: white;
  font-size: 1em;
  margin-bottom: 0.4em;
}
/* line 60, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto 1.5em;
  width: 12em;
}
/* line 66, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_footer.scss */
.footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
}

/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal label {
  cursor: pointer;
  margin-bottom: 0;
}
/* line 25, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}
/* line 31, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-state {
  display: none;
}
/* line 35, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-trigger {
  padding: 0.8em 1em;
}
/* line 39, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-fade-screen {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999;
}
@media screen and (min-width: 53.75em) {
  /* line 39, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
  .modal .modal-fade-screen {
    padding-top: 5em;
  }
}
/* line 53, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-fade-screen .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
/* line 59, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer;
}
/* line 65, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-close:after, .modal .modal-close:before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 1.5em;
  width: 0.15em;
  background: #ddd;
  content: '';
  display: block;
  margin: -3px 0 0 -1px;
}
/* line 76, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-close:hover:after, .modal .modal-close:hover:before {
  background: #c4c4c4;
}
/* line 81, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-close:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 86, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: #fff;
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%;
}
@media screen and (min-width: 40em) {
  /* line 86, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
  .modal .modal-inner {
    max-height: 85%;
    padding: 3em;
    width: 60%;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 86, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
  .modal .modal-inner {
    width: 50%;
  }
}
/* line 108, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-inner h1 {
  color: #333;
  text-align: left;
  text-transform: capitalize;
}
/* line 114, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-inner p {
  color: #333;
  line-height: 1.5em;
}
/* line 119, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}
/* line 123, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-inner .modal-content {
  color: #333;
}
@media screen and (min-width: 40em) {
  /* line 123, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
  .modal .modal-inner .modal-content {
    -webkit-columns: 2 8em;
    -moz-columns: 2 8em;
    columns: 2 8em;
  }
}
/* line 131, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}
/* line 137, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}
/* line 143, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}
/* line 148, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

/* line 153, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_modal.scss */
.modal-open {
  overflow: hidden;
}

/* line 3, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  min-height: 60px;
  width: 100%;
  z-index: 999;
}
/* line 30, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .navigation-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.7/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.7/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 37, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 0.5em;
}
/* line 43, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .logo img {
  min-height: 60px;
  float: left;
}
/* line 51, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  float: right;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 51, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 65, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  color: white;
}
/* line 73, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation nav {
  float: none;
  min-height: 60px;
  z-index: 9999999;
}
@media screen and (min-width: 53.75em) {
  /* line 73, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation nav {
    float: right;
  }
}
/* line 83, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
/* line 92, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul.navigation-menu.show {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 83, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 105, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul li.nav-link {
  background: rgba(0, 0, 0, 0.9);
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 0.8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 105, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
  }
}
/* line 123, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul li.nav-link a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 53.75em) {
  /* line 123, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul li.nav-link a {
    padding-right: 1em;
  }
}
/* line 132, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  color: white;
}
/* line 139, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .active-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}
/* line 146, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 146, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 153, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 157, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 161, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 165, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: rgba(255, 255, 255, 0.7);
}
/* line 172, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 176, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more a {
  padding-right: 0.8em;
}
/* line 180, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 180, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 188, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 196, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 172, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}
/* line 207, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 207, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 217, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}
/* line 224, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 224, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul.submenu li {
    line-height: 46.15385px;
  }
  /* line 231, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 236, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}
/* line 243, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation ul.submenu li a {
  background-color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 243, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation ul.submenu li a {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
/* line 261, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .navigation-tools {
  background: #505050;
  clear: both;
  display: block;
  height: 60px;
}
@media screen and (min-width: 53.75em) {
  /* line 261, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}
/* line 276, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .search-bar {
  float: right;
  padding: 0.85em 0.85em 0.7em 0.6em;
  width: 60%;
}
/* line 285, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .search-bar form {
  position: relative;
}
/* line 288, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .search-bar form input[type=search] {
  background: rgba(13, 13, 13, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.8em;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 288, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation .search-bar form input[type=search] {
    width: 100%;
  }
}
/* line 305, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .search-bar form button[type=submit] {
  background: rgba(13, 13, 13, 0.9);
  border: none;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 9px;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}
/* line 316, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
header.navigation .search-bar form button[type=submit] img {
  height: 12px;
  opacity: 0.7;
  padding: 1px;
}
@media screen and (min-width: 53.75em) {
  /* line 276, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation .search-bar {
    display: inline-block;
    position: relative;
    width: 16em;
  }
  /* line 329, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
  header.navigation .search-bar input {
    box-sizing: border-box;
    display: block;
  }
}

/* line 337, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_nav.scss */
h1#nav-title {
  font-size: 1.75em;
  line-height: 1;
  color: #ffffff;
  display: inline;
  float: left;
  padding: 0.55em 0;
  margin: 0;
  font-family: "Montserrat";
}

/* line 1, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination {
  text-align: center;
  margin: 15px 0;
}
/* line 18, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination ul {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 24, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination ul li {
  display: inline;
  list-style: none;
}
/* line 29, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination ul ul li {
  display: none;
}
/* line 32, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination ul ul li:nth-child(1), .pagination ul ul li:nth-child(2), .pagination ul ul li:nth-child(3) {
  display: inline;
}
@media screen and (min-width: 53.75em) {
  /* line 29, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
  .pagination ul ul li {
    display: inline;
  }
}
/* line 43, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination ul li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #FFFFFF;
  border-radius: 1px;
  border: 1px solid gainsboro;
  color: #333;
  outline: none;
  padding: 0.375em 0.809em;
  text-decoration: none;
  font-size: 0.8em;
}
/* line 54, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination ul li a:hover, .pagination ul li a:focus {
  background: white;
  color: #31B1FA;
}
/* line 60, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_pagination.scss */
.pagination ul li a:active {
  background: #FFFFFF;
}

/* line 5, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_parallax.scss */
.parallax-window {
  max-height: 30em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

/* line 13, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_parallax.scss */
.parallax-static-content {
  color: #ffffff;
  font-size: 3.5em;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 9;
  font-family: "Montserrat";
}

/* line 22, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_parallax.scss */
.parallax-content-box {
  background: rgba(0, 0, 0, 0.3);
  max-width: 100%;
  height: 30em;
  margin: 0 auto;
  padding: 4em 0;
  text-transform: capitalize;
}

/* line 31, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/bundler/gems/booqcms_theme-69809ebf9487/app/assets/stylesheets/theme/_parallax.scss */
.parallax-background {
  background: url("coffee.jpg") repeat;
  background-position: center -250px;
  background-size: cover;
  background-color: white;
  height: 60em;
  left: 0;
  position: absolute;
  top: -10em;
  width: 100%;
}
