<% if user_signed_in? %>
  <li class="nav-link">
  <%= link_to('Logout', booqcms.destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li class="nav-link">
  <%= link_to('Login', booqcms.new_user_session_path)  %>
  </li>
<% end %>
