.expander {
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $expander-arrow-width: 0.7em;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;

  width: 80%;

  .expander-trigger {
    @include user-select(none);
    border-top: 1px solid $light-gray;
    color: $action-color;
    cursor: pointer;
    display: block;
    font-size: $expander-toggle-size;
    margin-bottom: 25px;
    padding-bottom: $expander-toggle-size / 4;
    text-decoration: none;
    font-weight:200;

    &:before {
      font-size: $expander-arrow-width;
      content: "\25BD";
      margin-right: 0.5em;
    }
  }

  .expander-content {
    p {
    color: $base-font-color;
    line-height: $base-line-height;
    }
  }

  .expander-hidden {
    &:before {
      font-size: $expander-arrow-width;
      content: "\25B7";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}

.expander .expander-content p.error_notification {
  color:#CF000F;
}

.content-component table {
  width:100%;
  margin: 10px 0;
}
