body {
  margin: 0;
  padding: 0;
}

.grid-item .content-component-svg {
  @include transition (all 0.2s ease-in-out);
  margin-top:30px;
  opacity:0.8;
  &:hover {
    opacity:1;
  }
}

.flash_success,
.flash_error,
.flash_notice {
    position: fixed;
    top: 30px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -200px);
    text-align: center;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 20px;
    font-family: "Montserrat";
    text-transform: capitalize;
    animation: fade 4s ease;
}

.flash_success,
.flash_notice {
  color: rgb(65, 161, 240);
  border: 3px solid rgb(65, 161, 240);
  &:before {
    content: '✔';
    font-size: 25px;
    padding:10px;
  }
}

.flash_error {
  color: rgb(139, 24, 32);
  border: 3px solid rgb(139, 24, 32);
  &:before {
    content: '⦻';
    font-size: 25px;
    padding:10px;
  }
}

@keyframes fade {
0%,100% {
  transform: translate(-50%, -200px);
 }
10%,90% {
  transform: translate(-50%, 0);
  }
}

.analytics #auth-button,
.analytics #view-selector {
  margin: 20px 0;
}
