<% @uploads.each do |upload| %>
  <%= link_to media_show_path(id: upload.id, entry_id: @entry.id), format: :js, remote: true do %>
    <div class="gallery-thumb-wrapper">
      <img src="<%= upload.file.thumb %>">
      <div class="gallery-thumb-name">
        <%= truncate(upload.file.file.filename, length:20) %>
      </div>
    </div>
  <% end %>

<% end %>
<%= js_will_paginate @uploads %>
