<%= form_for(@upload, url: {controller: "media", action: "create", :format => :js, entry_id: @entry.id}, remote: true, authenticity_token: true) do |f| %>
  <div>
  </br>
    <%= f.file_field :file, class: "file" %>
    <%= button_tag 'Cancel', type: 'reset', id: 'cancel-upload' %>
  </div>
  <div>
    <%= f.submit class: "upload-submit" %>
  </div>
<% end %>
