<%= form_for(@upload, format: :js, remote: true, authenticity_token: true) do |f| %>
  <div>
    <%= f.label :file %><br>
    <%= f.file_field :file, class: "file" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
