<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="type-system-rounded">
  <div class="page">
    <nav class="book-nav"></nav>
    <div class="hero-image">
      <div class="hero-benefit-box">
        <h1>Become a GIMP Ninja!</h1>
        <span>This book is great, and it will make you great.</span>
        <button class="cta-button">Buy Now</button>
      </div>
    </div>
    <div class="testimonials"></div>
    <div class="look-inside"></div>
    <button>Buy Now</button>
    <footer></footer>
  </div>
</body>
</html>
