body {
  margin: 0;
  padding:0;
}

img.nav-logo {
  width:43px;

}

.featured-posts {
  width: 100%;
  margin-bottom: 20px;
  overflow:auto; //clears floats
}

.post-excerpt {
  width:33.33%;
  float:left;
}

.post-excerpt-title {
  @include transition(all 0.2s ease);
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  width:100%;
  position:relative;
  h3 {
    font-size:18px;
    color: #888;
    &:before {
      content: '';
      width:100px;
      height:1px;
      background: #ddd;
      position:absolute;
      left:50%;
      top:75px;
      margin-left:-50px;
    }
  }
  &:hover{
    color:white;
    background: #242424;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid #fff;
    border-top: 15px solid rgba(255,255,255,15);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    float: left;
    left: 50%;
    bottom: -14px;
    margin-left: -20px;
    @include transition(all 0.2s ease);
  }
  &:hover:after {
    border-top: 15px solid #242424;
    border-top: 15px solid rgba(36,36,36,15);
  }
}

.post-excerpt-image {
  height: 250px;
  background:white;
  overflow:hidden;
}

.show-post {
  max-width: 700px;
  width:80%;
  margin:40px auto;
  img {
    width:100%;
  }
}

.teaser {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom:20px;
}

.login-form {
  width:33%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  h2 {
    text-transform: uppercase;
  }
  label {
    // display:block;
  }
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width:100%;
    display: block;
    margin-bottom: 20px;;
    font-size: 1em;
    line-height:2;
  }
  input[type="submit"] {
    background: white;
    border: 1px solid #41A1F0;
    color: #41A1F0;
    margin-top: 20px;
  }
  .recover-links {
    font-size: 0.75em;
  }
}
