$color--dark-grey: #333;
$color--light-grey: #ccc;
$color--black:#000;
$color--grey: #555;

body {
  margin: 0;
  padding:0;
}

img.nav-logo {
  width:43px;

}

.featured-posts {
  width: 100%;
  margin-bottom: 20px;
  overflow:auto; //clears floats
}


.post-excerpt-title {
  @include transition(all 0.2s ease);
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  width:100%;
  position:relative;
  h3 {
    font-size:18px;
    color: #888;
    &:before {
      content: '';
      width:100px;
      height:1px;
      background: #ddd;
      position:absolute;
      left:50%;
      top:75px;
      margin-left:-50px;
    }
  }
  &:hover{
    color:white;
    background: #242424;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid #fff;
    border-top: 15px solid rgba(255,255,255,15);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    float: left;
    left: 50%;
    bottom: -14px;
    margin-left: -20px;
    @include transition(all 0.2s ease);
  }
  &:hover:after {
    border-top: 15px solid #242424;
    border-top: 15px solid rgba(36,36,36,15);
  }
}

.show-post {
  max-width: 700px;
  width:80%;
  margin:40px auto;
  img {
    width:100%;
  }
}

.teaser {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom:20px;
}

.login-form {
  width:33%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  h2 {
    text-transform: uppercase;
  }
  label {
    // display:block;
  }
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width:100%;
    display: block;
    margin-bottom: 20px;;
    font-size: 1em;
    line-height:2;
  }
  input[type="submit"] {
    background: white;
    border: 1px solid #41A1F0;
    color: #41A1F0;
    margin-top: 20px;
  }
  .recover-links {
    font-size: 0.75em;
  }
}

.content_nav {
  width:100%;
  position:relative;
  nav {
    width:100%;
    ul{
      list-style:none;
      overflow:hidden;
      margin: 0;
      padding:0;
      li{
        float:left;
        width:33.3%;
        background:#f6f6f6;
        // color:#4F94CD;
        color: #333;
        box-shadow:0 0 3px rgba(0,0,0,0.4);
        font-size:26px;
        font-family: "Montserrat";
        text-align: center;
        padding:20px;
        &.active_tab {
          position:relative;
          background:#fff;
          z-index:100;
          color:#333;
        }
      }
    }
  }
}

.post-container {
  padding-top:20px;
  min-height:100px;
  width:100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  position:relative;
}

.sort_and_filter {
  width:510px;
  margin:20px auto;
  overflow:hidden;
  select{
    margin-right:20px;
  }
}

.post_card {
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  width:80%;
  margin:50px auto;
  overflow:hidden;
  height:350px;
  border: 5px solid rgba(255,255,255,1);
  &:hover {
    border: 5px solid #49B5FF;
    cursor: pointer;
  }
}

.post-excerpt-image {
  height:100%;
  width:33.3%;
  float:left;
  overflow:hidden;
  position:relative;
  img{
    height:auto;
    width: 100%;
    height:100%;
    overflow:hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.type-system-rounded .post-excerpt {
  width:66.7%;
  float:left;
  p{
    width:80%;
    margin:10px auto;
    padding:40px;
    border-top:2px solid #ccc;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    background:#fff;
    color:#333;
    padding:20px;
    font-variant: small-caps;
    margin-bottom:10px;
  }
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 130px;
  select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid $color--dark-grey;
    border-radius: 0;
    background: #fff;
    color: $color--dark-grey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand {
      display: none;
    }
    &:hover,
    &:focus {
      color: $color--black;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events :none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #49B5FF transparent transparent transparent;
  .select select:hover ~ &
  .select select:focus ~ & {
    border-top-color: $color--black;
  }

  .select select:disabled ~ & {
    border-top-color: $color--grey;
  }
}

.input-group{
  float:left;
  margin:10px 20px;
}

label {
  display:block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
}

.parallax-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size:cover;
}

.post_count {
  width:500px;
  text-align:center;
  margin:10px auto;
  font-style: italic;
  text-transform: capitalize;
  font-variant: small-caps;
}

.posts {
  padding-bottom: 40px;
}
