body {
  margin: 0;
  padding:0;
}

img.nav-logo {
  width:43px;

}

.posts {
  width: 80%;
  margin: 10px auto;
}

.post-exerpt {
  width:25%;
  margin:4%;
  display:inline-block;
  vertical-align: top;
  overflow:hidden;
  img {
    width:100%;
  }
}

.show-post {
  max-width: 680px;
  width:80%;
  margin:40px auto;
  img {
    width:100%;
  }
}

.teaser {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom:20px;
}
