$action-color: #31B1FA;

  .hero-image {
    background: url("landing-cover1.jpg") no-repeat;
    height: 500px;
    position:relative;
    width:100%;
  }

  .hero-benefit-box {
    position:absolute;
    top:140px;
    left:50%;
    margin-left:-250px;
    padding:20px;
    width:500px;
    background: rgba(255,255,255,0.7);
    text-align:center;
    button {
      display:block;
      margin: 10px auto;
    }
  }

  button {
    font-size:20px;
    background: white;;
    border: 1px solid $action-color;
    color: $action-color;
    border-radius: 0;
    box-shadow: 0;
    padding:15px;
  }
