@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|PT+Sans:400,400italic,700,700italic);
/* line 4, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 3, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/custom.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 3, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation {
  background-color: #1d2228;
  border-bottom: 1px solid #08090a;
  min-height: 60px;
  width: 100%;
  z-index: 999;
}
/* line 30, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .navigation-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 37, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 2em;
}
/* line 43, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .logo img {
  max-height: 60px;
  padding: 0.8em 0;
}
/* line 51, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  float: right;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 51, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 65, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  color: white;
}
/* line 73, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation nav {
  float: none;
  min-height: 60px;
  z-index: 9999999;
}
@media screen and (min-width: 53.75em) {
  /* line 73, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation nav {
    float: right;
  }
}
/* line 83, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
/* line 92, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul.navigation-menu.show {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 83, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 105, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul li.nav-link {
  background: #1d2228;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 0.8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 105, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
  }
}
/* line 123, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul li.nav-link a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 53.75em) {
  /* line 123, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul li.nav-link a {
    padding-right: 1em;
  }
}
/* line 132, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  color: white;
}
/* line 139, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .active-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}
/* line 146, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 146, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 153, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 157, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 161, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 165, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: rgba(255, 255, 255, 0.7);
}
/* line 172, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 176, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more a {
  padding-right: 0.8em;
}
/* line 180, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 180, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 188, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 196, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 172, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}
/* line 207, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 207, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 217, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}
/* line 224, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 224, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul.submenu li {
    line-height: 46.15385px;
  }
  /* line 231, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 236, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}
/* line 243, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation ul.submenu li a {
  background-color: #171a1f;
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 243, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation ul.submenu li a {
    background-color: #1d2228;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
/* line 261, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .navigation-tools {
  background: #505050;
  clear: both;
  display: block;
  height: 60px;
}
@media screen and (min-width: 53.75em) {
  /* line 261, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}
/* line 276, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .search-bar {
  float: right;
  padding: 0.85em 0.85em 0.7em 0.6em;
  width: 60%;
}
/* line 285, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .search-bar form {
  position: relative;
}
/* line 288, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .search-bar form input[type=search] {
  background: #282e36;
  border: 1px solid #121519;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.8em;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 288, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation .search-bar form input[type=search] {
    width: 100%;
  }
}
/* line 305, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .search-bar form button[type=submit] {
  background: #282e36;
  border: none;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 9px;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}
/* line 316, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
header.navigation .search-bar form button[type=submit] img {
  height: 12px;
  opacity: 0.7;
  padding: 1px;
}
@media screen and (min-width: 53.75em) {
  /* line 276, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation .search-bar {
    display: inline-block;
    position: relative;
    width: 16em;
  }
  /* line 329, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
  header.navigation .search-bar input {
    box-sizing: border-box;
    display: block;
  }
}

/* line 337, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_nav.scss */
h1#nav-title {
  font-size: 1.5em;
  color: #ffffff;
  display: inline;
  float: left;
  padding: 0.55em 0;
  margin: 0;
  font-family: "PT Sans";
}

/* line 1, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer {
  background: #212224;
  padding: 3em 1.618em;
  width: 100%;
}
/* line 15, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer .footer-logo {
  margin-bottom: 2em;
  text-align: center;
}
/* line 19, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer .footer-logo img {
  height: 3em;
}
/* line 24, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer .footer-links {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
/* line 31, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer ul {
  -webkit-flex-basis: 13em;
  -moz-flex-basis: 13em;
  flex-basis: 13em;
  -ms-flex-preferred-size: 13em;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  margin-bottom: 3em;
  padding: 0;
}
/* line 38, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer li {
  line-height: 1.5em;
  list-style: none;
  text-align: center;
}
/* line 44, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer li a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
/* line 48, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer li a:focus, .footer li a:hover {
  color: white;
}
/* line 54, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer li h3 {
  color: white;
  font-size: 1em;
  margin-bottom: 0.4em;
}
/* line 60, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto 1.5em;
  width: 12em;
}
/* line 66, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_footer.scss */
.footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
}

/* line 5, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_parallax.scss */
.parallax-window {
  max-height: 30em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

/* line 13, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_parallax.scss */
.parallax-static-content {
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 3em 0;
  position: relative;
  z-index: 9;
  font-family: "Open Sans";
}

/* line 23, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_parallax.scss */
.parallax-content-box {
  height: 140px;
  background: rgba(0, 0, 0, 0.9);
  width: 589px;
  margin: 0 auto;
  line-height: 140px;
}

/* line 31, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_parallax.scss */
.parallax-background {
  background: url("writing.jpg") repeat;
  background-position: center -250px;
  background-size: cover;
  background-color: beige;
  height: 60em;
  left: 0;
  position: absolute;
  top: -10em;
  width: 100%;
}

/* line 1, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded {
  font-family: "PT Sans", sans-serif;
  text-align: left;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
body.type-system-rounded::after {
  clear: both;
  content: "";
  display: table;
}
/* line 17, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded h1, body.type-system-rounded h2, body.type-system-rounded h3, body.type-system-rounded p {
  margin: 0;
}
/* line 21, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}
/* line 29, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded p {
  color: #333;
  line-height: 1.5em;
}
/* line 34, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded a {
  color: #477DCA;
  text-decoration: none;
}
/* line 39, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded .type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
}
/* line 51, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 40em) {
  /* line 51, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
  body.type-system-rounded h1 {
    font-size: 2.4em;
  }
}
/* line 61, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0.9em;
}
@media screen and (min-width: 40em) {
  /* line 61, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
  body.type-system-rounded h2 {
    font-size: 1.4em;
  }
}
/* line 73, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.7em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}
/* line 85, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
/* line 93, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "PT Sans", sans-serif;
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
/* line 100, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded p {
  font-family: "PT Sans", sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}
/* line 107, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded p span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 114, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded a.read-more {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}
/* line 123, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded a.read-more span {
  font-size: 1.5em;
  position: absolute;
  right: -12px;
  top: -1px;
}
/* line 131, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded hr {
  width: 3em;
}
/* line 135, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
body.type-system-rounded p.author {
  font-family: "PT Sans", sans-serif;
}

/* line 142, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
section::after {
  clear: both;
  content: "";
  display: table;
}

/* line 146, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  padding: 2.35765%;
  border-left: 2px solid #222;
}
/* line 89, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
article:last-child {
  margin-right: 0;
}

/* line 152, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 2.35765%;
}
/* line 89, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
aside:last-child {
  margin-right: 0;
}
/* line 156, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
aside ul {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 5px;
}
/* line 161, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
aside ul li {
  margin: 5px 0;
  padding: 5px 0;
}
/* line 166, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_typography.scss */
aside h2 {
  padding-top: 10px;
}

/* line 1, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0;
}
/* line 20, /Users/katherinelandreth/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
.accordion-tabs-minimal::after {
  clear: both;
  content: "";
  display: table;
}
/* line 19, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
.accordion-tabs-minimal .tab-header-and-content {
  list-style: none;
}
@media screen and (min-width: 40em) {
  /* line 19, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
  .accordion-tabs-minimal .tab-header-and-content {
    display: inline;
  }
}
/* line 27, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
.accordion-tabs-minimal .tab-link {
  background-color: #fff;
  border-top: 1px solid #dcdcdc;
  color: #333;
  display: block;
  padding: 0.75em 1.618em;
  text-decoration: none;
}
@media screen and (min-width: 40em) {
  /* line 27, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
  .accordion-tabs-minimal .tab-link {
    border-top: 0;
    display: inline-block;
  }
}
/* line 40, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
.accordion-tabs-minimal .tab-link:hover {
  color: #477dca;
}
/* line 44, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
.accordion-tabs-minimal .tab-link:focus {
  outline: none;
}
/* line 48, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
.accordion-tabs-minimal .tab-link.is-active {
  border-bottom: 0;
}
@media screen and (min-width: 40em) {
  /* line 48, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
  .accordion-tabs-minimal .tab-link.is-active {
    border: 1px solid #dcdcdc;
    border-bottom-color: #fff;
    margin-bottom: -1px;
  }
}
/* line 59, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
.accordion-tabs-minimal .tab-content {
  display: none;
  padding: 1.5em 1.618em;
  width: 100%;
}
@media screen and (min-width: 40em) {
  /* line 59, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_admin_tabs.scss */
  .accordion-tabs-minimal .tab-content {
    border-top: 1px solid #dcdcdc;
    float: left;
  }
}

/* line 1, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_expand.scss */
.expander {
  width: 60%;
}
/* line 16, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_expand.scss */
.expander .expander-trigger {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #DDD;
  color: #477DCA;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  text-decoration: none;
}
/* line 27, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_expand.scss */
.expander .expander-trigger:before {
  font-size: 0.7em;
  content: "\25BC";
  margin-right: 0.5em;
}
/* line 34, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_expand.scss */
.expander .expander-content p {
  color: #333;
  line-height: 1.5em;
}
/* line 40, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_expand.scss */
.expander .expander-hidden:before {
  font-size: 0.7em;
  content: "\25BA";
}
/* line 46, /Users/katherinelandreth/Desktop/Rails_Apps/booqcms/booqcms/app/assets/stylesheets/booqcms/_expand.scss */
.expander .expander-hidden + .expander-content {
  display: none;
}
