<div class="content_nav">
  <nav>
    <ul>
      <li id="blog_tab" class="tab" data-post-type="blog">BLOG</li>
      <li id="tutorials_tab" class="active_tab tab" data-post-type="tutorial">TUTORIALS</li>
      <li id="book_tab" class="tab">BOOK</li>
    </ul>
  </nav>
</div>
