<section class="book-pricing">
  <hgroup><h2>Purchase Options</h2></hgroup>

  <div class="book-pricing-content">
    <div class="book-option">
        <h3>EPUB</h3>

        <span class="price"><sup class="dollar">$</sup>9.99</span>
        <ul>
          <li><em>Kindle</em> Optimised</li>
          <li><em>Instant</em> Download</li>
          <li><em>300+</em> Pages</li>
          <li><em>30+</em> Practice Images</li>
          <li><em>GIMP 2.8</em> Compatible</li>
        </ul>
        <div class="pricing-button">
          <button>Purchase Now</button>
        </div>
    </div>

    <div class="book-option">
      <h3>PDF EBOOK</h3>

      <span class="price"><sup class="dollar">$</sup>9.99</span>
      <ul>
        <li><em>Desktop</em> Optimised</li>
        <li><em>Instant</em> Download</li>
        <li><em>300+</em> Pages</li>
        <li><em>30+</em> Practice Imges</li>
        <li><em>GIMP 2.8</em> Compatible</li>
      </ul>
      <div class="pricing-button">
        <button>Purchase Now</button>
      </div>
    </div>

    <div class="book-option">
      <h3>Paperback Book</h3>
      <span class="coming-soon">Coming Soon</span>
      <div class="email-form">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email"/>
      </div>
      <div class="pricing-button">
        <button>Submit Email</button>
      </div>
    </div>
  </div>
</section>
