<div class="look-inside">
  <div class="half">
    <figure>
    <%= image_tag 'landing-cover1.jpg' %>
    <figcaption>
      <span class="btn-look-inside">Look Inside &#128269;</span>
    </figcaption>
  </figure>
  </div>
  <div class="half">
    <h2>Look Inside</h2>
    <p>Inside "How to GIMP", you'll find over 300 pages of step-by-step instruction,
    tutorials, demonstrations, and screenshots. This isn't some dull white-paper
    or a 5 page report on just a few of GIMP's tools.</br>Look inside to see for yourself!</p>
    <a class="scroll-on-page-link" href="#scroll-link-1">
      <button class="cta-button">Buy the Book</button>
    </a>
  </div>

</div>
