<div class="look-inside-modal" id="look-inside-modal">
  <header>
    <h1>Modal Header</h1>
    <span class="modal-close-btn">x</span>
  </header>
  <div class="modal-body">
    This is where the preview will go.
  </div>
</div>
