<section class="testimonials">
  <div class="testimonial">
    <div class="quote">
      "I’m delighted with your book. The layout is brilliant and each step
      by step explanation is just perfect."
    </div>
    <div class="author">
      <img/>
      <a href="http://tomndi.blogspot.com">Tom, Canada</a>
    </div>
  </div>
  <div class="testimonial">
    <div class="quote"></div>
    <div class="author">
      <img/>
      <a href=""></a>
    </div>
  </div>
  <div class="testimonial">
    <div class="quote"></div>
    <div class="author">
      <img/>
      <a href=""></a>
    </div>
  </div>
</section>
