<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag 'booqcms/book.png' %>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Create Content</h3></li>
      <li><a href="javascript:void(0)">Booq</a></li>
      <li><a href="javascript:void(0)">Blog Post</a></li>
      <li><a href="javascript:void(0)">Marketing</a></li>
    </ul>
    <ul>
      <li><h3>Manage Social Media</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="http://www.flaticon.com" title="Flaticon">Book Icon</a> <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
      <li><a href=""></a>©KatLandreth <%= Time.now.year %></li>
    </ul>
  </div>

  <hr>
</footer>
