<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag 'booqcms/book.png' %>
    </a>
    <h1 id="nav-title">BooqCMS Dashboard</h1>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link more"><a href="javascript:void(0)">Create Content</a>
          <ul class="submenu">
            <li class="more"><a href="javascript:void(0)">Web Content</a>
              <ul class="submenu">
                <li><%= link_to "Add New", new_entry_path %></li>
                <li><%= link_to "All Web Content", entries_path %></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Book</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Add New</a></li>
                <li><a href="javascript:void(0)">All Books</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Analytics</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Social Media</a></li>
      </ul>
    </nav>
  </div>
</header>
