$parallax-window-height: 30em;
 #js-parallax-background.parallax-background {
   background: url("writing.jpg") repeat;
   background-position: center -250px;
   background-size: cover;
 }
// // Based on http://codepen.io/skeurentjes/
