body {
  margin: 0;
  padding: 0;
}

.grid-item .content-component-svg {
  @include transition (all 0.2s ease-in-out);
  margin-top:30px;
  opacity:0.8;
  &:hover {
    opacity:1;
  }
}

.flash_success,
.flash_error {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 20px;
    z-index: 1000;
    font-family: "Montserrat";
    text-transform: capitalize;
}

.flash_success {
  color: rgb(65, 161, 240);
  border: 3px solid rgb(65, 161, 240);
  &:before {
    content: '✔';
    font-size: 25px;
    padding:10px;
  }
}

.flash_error {
  color: rgb(139, 24, 32);
  border: 3px solid rgb(139, 24, 32);
}
