<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <div class="parallax-content-box">
    <b>Make Something Awesome</b>
  </div>
  </div>
  <div id="js-parallax-background" class="parallax-background"
  style='background: url("../assets/monitor_with_photo_of_mountains.jpg") repeat; background-size:cover;'></div>
</div>
